<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Laptops</title>
    <link href="style.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Apple</a></li>
                <li><a href="#">Toshiba</a></li>
                <li><a href="#">Lenovo</a></li>
                <li><a href="#">Dell</a></li>
                <li><a href="#">Asus</a></li>
                <li><a href="#">Acer</a></li>
                <li><a href="#">HP</a></li>
            </ul>
            <hr />
        </nav>
    </header>
    <article>
        <section>
            <h2>Apple MacBook Air</h2>
            <img src="http://www5.pcmag.com/media/images/282117-apple-macbook-air-13-inch.jpg?thumb=y" alt="Apple MacBook Air" />
            <div class="ssd">64GB SSD</div>
            <div class="ddr">2GB DDR</div>
            <div class="intel">Intel Core i5</div>
            <div class="price">1300 USD</div>
        </section>
        <section>
            <h2>Apple MacBook Air</h2>
            <img src="http://www5.pcmag.com/media/images/282117-apple-macbook-air-13-inch.jpg?thumb=y" alt="Apple MacBook Air" />
            <div class="ssd">64GB SSD</div>
            <div class="ddr">2GB DDR</div>
            <div class="intel">Intel Core i5</div>
            <div class="price">1300 USD</div>
        </section>
        <section>
            <h2>Apple MacBook Air</h2>
            <img src="http://www5.pcmag.com/media/images/282117-apple-macbook-air-13-inch.jpg?thumb=y" alt="Apple MacBook Air" />
            <div class="ssd">64GB SSD</div>
            <div class="ddr">2GB DDR</div>
            <div class="intel">Intel Core i5</div>
            <div class="price">1300 USD</div>
        </section>
        <section>
            <h2>Apple MacBook Air</h2>
            <img src="http://www5.pcmag.com/media/images/282117-apple-macbook-air-13-inch.jpg?thumb=y" alt="Apple MacBook Air" />
            <div class="ssd">64GB SSD</div>
            <div class="ddr">2GB DDR</div>
            <div class="intel">Intel Core i5</div>
            <div class="price">1300 USD</div>
        </section>
        <section>
            <h2>Apple MacBook Air</h2>
            <img src="http://www5.pcmag.com/media/images/282117-apple-macbook-air-13-inch.jpg?thumb=y" alt="Apple MacBook Air" />
            <div class="ssd">64GB SSD</div>
            <div class="ddr">2GB DDR</div>
            <div class="intel">Intel Core i5</div>
            <div class="price">1300 USD</div>
        </section>
        <section>
            <h2>Apple MacBook Air</h2>
            <img src="http://www5.pcmag.com/media/images/282117-apple-macbook-air-13-inch.jpg?thumb=y" alt="Apple MacBook Air" />
            <div class="ssd">64GB SSD</div>
            <div class="ddr">2GB DDR</div>
            <div class="intel">Intel Core i5</div>
            <div class="price">1300 USD</div>
        </section>
        <aside>
            <form method="get" action="#">
                <div>
                    <div>Min price:<output name="minPrice"> 500 USD</output></div>
                    <input type="range" min="50" max="3000" step="50" value="500"/>
                </div>
                <div>
                    <div>Max price:<output name="maxPrice">1500 USD</output></div>
                    <input type="range" name="maxPriceFilter" min="50" max="3000" step="50" value="1500"/>
                </div>
                <div>
                    <div>Min RAM:<output name="minRam">4 GB</output></div>
                    <input type="range" name="minRamFilter" min="1" max="16" step="1" value="4"/>
                </div>
                <div>
                    <div>Max RAM:<output name="maxRam">16 GB</output></div>
                    <input type="range" name="maxRamFilter" min="1" max="16" step="1" value="16"/>
                </div>
            </form>
        </aside>
    </article>
</body>
</html>
